<div class="row">
    <!-- <div class="col-12 text-center mb-5">
        <a routerLink="/experience" class="btn next-button">
            <fa-icon class="next-button-icon" [icon]="faArrowUpLong"></fa-icon>
        </a>
    </div> -->
    <div class="col-12">
        <div class="verically-centered-left">
            <a routerLink="/experience" class="btn next-button">
                <fa-icon class="next-button-icon" [icon]="faArrowLeftLong"></fa-icon>
            </a>
        </div>
        <div class="col-12">
            <div class="offset-1 col-5">
                <home-text-writer></home-text-writer>
            </div>
        </div>
        <div class="verically-centered-right">
            <a routerLink="/experience" class="btn next-button">
                <fa-icon class="next-button-icon" [icon]="faArrowRightLong"></fa-icon>
            </a>
        </div>
    </div>
    <div class="col-12 text-center fixed-bottom mb-2">
        <a routerLink="/experience" class="btn next-button">
            <fa-icon class="next-button-icon" [icon]="faArrowDownLong"></fa-icon>
        </a>
    </div>
</div>
