<div class="textWriterWrapper">
    <div>
        <h1 class="textWriter">Hi, my name is <span class="text-primary">Antonio Gundermann</span></h1>
    </div>
    <div>
        <h2 class="textWriter">I'm a <span class="text-primary">Software Developer</span></h2>
    </div>
    <div>
        <h3 class="textWriter">
            <span class="text-primary">passionate</span>
            about <span class="text-primary">technology</span> and
            <span class="text-primary">innovation</span>
        </h3>
    </div>
    <div>
        <h5 class="textWriter">
            I love to <span class="text-primary">create</span>
            solutions and <span class="text-primary">learn</span> from others
        </h5>
    </div>
</div>