<div class="container-fluid container-verically-centered">
    <div class="row">
        <div class="div-verically-centered">
            <div class="offset-1 col-5">
                <h1 class="typewriter">Hi, my name is <span class="text-primary">Antonio Gundermann</span></h1>
                <h2 class="fade-in">I'm a <span class="text-primary">Software Developer</span></h2>
                <h3>
                    <span class="text-primary">passionate</span>
                    about <span class="text-primary">technology</span> and
                    <span class="text-primary">innovation</span>
                </h3>
                <h5>
                    I love to <span class="text-primary">create</span> 
                    solutions and <span class="text-primary">learn</span> from others
                </h5>
            </div>
        </div>
    </div>
</div>